*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Lato;
    font-weight: 400;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/*Navigation Bar*/
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 313px;
    margin-right: 313px;
    width: 1294px;
    font-size: 15px;
    font-weight: 400;
}
nav ul li.nav_logo{
    justify-content: start;
    margin-right: 504px;
}
nav ul li.nav_element{
    background-color: #260CA7;
    text-align: center;
    width:134px;
    height: 45px;
    margin-right: 11px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
nav ul li a{
    height: 100%;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
nav ul li.nav_element.last{
    margin-right: 0px;
}
nav ul li{
    list-style: none;
}
/*Application Section*/
#section_aplication{
    font-size: 0px;
}
#section_aplication div{
    display: inline-block;
    vertical-align: middle;
}
#section_aplication div.img_application{
    width: 279px;
    height: 564px;
    margin-left: 530px;
    margin-top: 70px;
}
#section_aplication div.img_application img{
    width: 279px;
    height: 564px;
}
#section_aplication div.app_description{
    width: 351px;
    height: 354px;
    margin-left: 157px;
    font-weight: 400;
}
#section_aplication div.app_description h2{
    font-size: 48px;
    text-align: center;
}
#section_aplication div.app_description p{
    font-size: 24px;
    text-align: left;
    line-height: 47px;
}
#section_aplication div.app_description button{
    width: 207px;
    height: 54px;
    margin-left: 73px;
    margin-top: 55px;
    background-color: #FE016B;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor:pointer;
    border: none;
    text-transform: uppercase;
}
/*Functionalities Section*/
#section_functionalities{
    display: flex;
    flex-direction: column;
    margin-top: 92px;
}
#section_functionalities h2{
    text-align: center;
    width: 354px;
    height: 47px;
    margin-left: 783px;
    font-size: 34px;
    background-color: #C4C4C4;
}
#section_functionalities div.row_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1150px;
    margin-left:385px ;
    margin-top: 47px;
}
#section_functionalities div.row_1 div.box{
    width: 354px;
    height: 263px;
    background-color: #C4C4C4;
    text-align: center;
}
#section_functionalities div.row_1 div p{
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#section_functionalities div.row_1 div.box:nth-child(1) img{
    width: 130px;
    height: 80px;
    margin-top: 25px;
}
#section_functionalities div.row_1 div.box:nth-child(1) p{
    width: 268px;
    height: 128px;
    margin-top: 19px;
}
#section_functionalities div.row_1 div.box:nth-child(2) img{
    width: 268px;
    height: 27px;
    margin-top: 44px;
}
#section_functionalities div.row_1 div.box:nth-child(2) p{
    width: 258px;
    height: 69px;
    margin-top: 28px;
}
#section_functionalities div.row_1 div.box:nth-child(3) img{
    width: 130px;
    height: 80px;
    margin-top: 25px;
}
#section_functionalities div.row_1 div.box:nth-child(3) p{
    width: 258px;
    height: 128px;
    margin-top: 24px;
}
/*How to use it Section*/
#section_howtouseit{
    font-size: 0;
    display: flex;
    flex-direction: row;
    margin-top: 81px;
}
#section_howtouseit div.column_1{
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 495px;
    margin-left: 385px;
    text-align: center;
}
#section_howtouseit div.column_1 h2{
    font-size: 34px;
    background-color: #C4C4C4;
}
#section_howtouseit div.column_1 div.container{
    width: 352px;
    height: 355px;
    margin-top: 15px;
    background-color: #C4C4C4;
}
#section_howtouseit div.column_1 ol{
    font-size: 24px;
    margin-left: 8px;
    list-style: none;
    text-align: left;
    width: 312px;
    height: 333px;
}
#section_howtouseit div.column_1 ol li:nth-child(1){
    margin-top: 13px;
}
#section_howtouseit div.column_1 ol li:nth-child(2){

    margin-top: 18px;
}
#section_howtouseit div.column_1 ol li:nth-child(3){
    margin-top: 18px;
}
#section_howtouseit div.column_1 button{
    font-size: 18px;
    width: 203px;
    height: 54px;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
    background-color: #260CA7;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
#section_howtouseit img{
    width: 642px;
    height: 418px;
    margin-left: 83px;
}
/*Contact us section*/
#section_contactus{
    display: flex;
    flex-direction: row;
    margin-top: 76px;
}
#section_contactus div.box_contactus{
    display: flex;
    flex-direction: column;
    margin-right: 180px;
    margin-left: 385px;
}
#section_contactus div.box_contactus h2 {
    width: 352px;
    height: 48px;
    font-size: 34px;
    text-align: center;
    background-color: #C4C4C4;
}
#section_contactus div.box_contactus div.box2_contactus {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    align-items: center;
    width: 352px;
    height: 355px;
    background-color: #C4C4C4;
}
#section_contactus div.box_contactus div.box2_contactus input{
    width: 320px;
    height: 49px;
    margin-top: 22px;
    background-color: #FFFFFF;
    color: rgba(0,0,0,0.26);
    font-size: 18px;
    border: none;
}
#section_contactus div.box_contactus div.box2_contactus textarea{
    width: 320px;
    height: 133px;
    margin-top: 34px;
    background-color: #FFFFFF;
    color: rgba(0,0,0,0.26);
    font-size: 18px;
    resize: none;
    border: none;
}
#section_contactus div.box_contactus div.box2_contactus button{
    width: 207px;
    height: 54px;
    margin-top: 30px;
    background-color: #260CA7;
    color: #FFFFFF;
    font-size: 18px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    border: none;
}
#section_contactus img{
    width: 642px;
    height: 426px;
}
/*Footer Section*/
#footer_section{
    background-color: #C4C4C4;
    width: 1920px;
    height: 448px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 91px;
}
#footer_section >img{
    width: 140px;
    height: 124px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
}
#footer_section div.box_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
#footer_section div.box_footer img:nth-child(1){
    width:25px;
    height:47px ;
}
#footer_section div.box_footer img:nth-child(2){
    width:47px;
    height:47px ;
    margin-left: 85px;
    margin-right: 85px;
}
#footer_section div.box_footer img:nth-child(3){
    width:47px;
    height:47px;
}
#footer_section p{
    margin-top: 32px;
    font-size: 14px;
}















































